
{% extends 'base.html' %}
{% block content %}
  
    <div class="container">
        <div class="header-proveedores">
            <h1>
                <i class="fas fa-briefcase"></i> Proveedores
            </h1>
        </div>
        <!-- Botón para abrir el modal de agregar proveedor -->
        <a href="#" data-bs-toggle="modal" title="Agregar nuevo proveedor" data-bs-target="#AgregarProveedor">
            <i class="fa-solid fa-user-plus icon icon-small"></i></a>
 
            
            <table id="proveedoresTable" class="table table-striped table-bordered mt-3" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Código Proveedor</th>
                        <th>Nombre</th>
                        <th>Activo</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr>                    
                        <td>
                            <a href="#" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" title="Editar proveedor" data-bs-target="#EditarProveedor"
                            data-id="{{ proveedor.id_proveedor }}" 
                            data-nombre_empresa="{{ proveedor.nombre_empresa }}"
                            data-nombre="{{ proveedor.nombre }}"
                            data-email="{{ proveedor.email }}"
                            data-provincia="{{ proveedor.provincia }}"
                            data-canton="{{ proveedor.canton }}"
                            data-distrito="{{ proveedor.distrito }}"
                            data-direccion="{{ proveedor.direccion_exacta }}"
                            data-telefono1="{{ proveedor.telefono1 }}"
                            data-telefono2="{{ proveedor.telefono2 }}"
                            data-tipo-identificacion="{{ proveedor.tipo_identificacion }}"
                            data-identificacion="{{ proveedor.identificacion }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>{{ proveedor.id_proveedor }}</td>
                        <td>{{ proveedor.nombre_empresa }}</td>
                        <td>{{ proveedor.activo|yesno:"Sí,No" }}</td>
                        <td>{{ proveedor.telefono1 }}</td>
                        <td>{{ proveedor.email }}</td>
                        <td>
                            <a href="#" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" title="Detalles" data-bs-target="#DetalleProveedor"
                                data-id="{{ proveedor.id_proveedor }}" 
                                data-nombre="{{ proveedor.nombre }}"
                                data-email="{{ proveedor.email }}"
                                data-provincia="{{ proveedor.provincia }}"
                                data-canton="{{ proveedor.canton }}"
                                data-distrito="{{ proveedor.distrito }}"
                                data-direccion="{{ proveedor.direccion_exacta }}"
                                data-telefono1="{{ proveedor.telefono1 }}"
                                data-telefono2="{{ proveedor.telefono2 }}"
                                data-tipo-identificacion="{{ proveedor.tipo_identificacion }}"
                                data-identificacion="{{ proveedor.identificacion }}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a href="#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" title="Eliminar" data-bs-target="#EliminarProveedor" data-id="{{ proveedor.id_proveedor }}" data-username="{{ proveedor.nombre_empresa }}">
                                <i class="fa-solid fa-user-xmark"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No hay proveedores disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="mt-3 d-flex justify-content-between">
            <a href="{% url 'index' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Regresar al menú lateral</a>
        </div>
        
    </div>

    <div class="modal fade" id="EliminarProveedor" tabindex="-1" aria-labelledby="EliminarProveedorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger " id="EliminarProveedorLabel">AVISO: Eliminando proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>¿Desea eliminar el proveedor <span id="deleteUsername"></span>?</p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <!-- Aquí ponemos la URL con el ID correcto -->
                    <form id="EliminarProveedorForm" method="post" action="{% url 'eliminar_proveedor' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="deleteId"> <!-- Este campo oculto almacenará el ID -->
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DetalleProveedor" tabindex="-1" aria-labelledby="DetalleProveedorLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header-provedores">
                    <h5 class="modal-title" id="DetalleProveedorLabel">Detalle del Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-content-inner">
                        <p><strong>Código Proveedor:</strong> <span id="detalleCodigoProveedor"></span></p>
                        <p><strong>Fecha que se ingresó al sistema:</strong> <span id="detalleFechaIngreso"></span></p>
                        <p><strong>Nombre de la Empresa:</strong> <span id="detalleNombreEmpresa"></span></p>
                        <p><strong>Tipo de Identificación:</strong> <span id="detalleTipoIdentificacion"></span></p>
                        <p><strong>Número de Identificación:</strong> <span id="detalleIdentificacion"></span></p>
                        <p><strong>Nombre:</strong> <span id="detalleNombre"></span></p>
                        <p><strong>Email:</strong> <span id="detalleEmail"></span></p>
                        <p><strong>Provincia:</strong> <span id="detalleProvincia"></span></p>
                        <p><strong>Cantón:</strong> <span id="detalleCanton"></span></p>
                        <p><strong>Distrito:</strong> <span id="detalleDistrito"></span></p>
                        <p><strong>Dirección Exacta:</strong> <span id="detalleDireccionExacta"></span></p>
                        <p><strong>Teléfono 1:</strong> <span id="detalleTelefono1"></span></p>
                        <p><strong>Teléfono 2:</strong> <span id="detalleTelefono2"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="AgregarProveedor" tabindex="-1" aria-labelledby="AgregarProveedorLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header-formulario-provedor">
                    <h5 class="modal-title form-header" id="AgregarProveedorLabel">Formulario de Registro de Proveedores</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Copiar el contenido del formulario aquí -->
                    <form method="post" action="{% url 'agregar_proveedor' %}">
                        {% csrf_token %}
                        <div class="form-section">
                            <h4>Solo para uso interno</h4>
                            <table class="table-form">
                                <tr>
                                    <th class="internal-use">Id proveedor</th>
                                    <th class="internal-use">Fecha</th>
                                </tr>
                                <tr>
                                    <td class="internal-use">
                                        <input type="text" class="form-control" id="id_proveedor" name="id_proveedor">
                                    </td>
                                    <td class="internal-use">
                                        <input type="date" class="form-control" id="fecha_ingreso" name="fecha_ingreso">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-section">
                            <label for="nombre_empresa" class="form-label"><strong>Nombre de la empresa</strong></label>
                            <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa" required>
                        </div>
                        <div class="form-section">
                            <h4>Contacto</h4>
                            <div class="form-group">
                                <label for="tipo_identificacion">Tipo identificación:</label>
                                <select id="tipo_identificacion" name="tipo_identificacion" class="form-control" required>
                                    <option value="Cedula">Cédula Física</option>
                                    <option value="Cedula">Cédula Juridica</option>
                                    <option value="Cedula">Cédula Otros</option>
                                    <!-- Agrega aquí otras opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="identificacion">Identificación:</label>
                                <input type="text" class="form-control" id="identificacion" name="identificacion" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="form-section">
                            <h4>Direcciones</h4>
                            <div class="form-group">
                                <label for="provincia">Provincia:</label>
                                <select id="provincia" name="provincia" class="form-control" required>
                                    <!-- Agrega aquí las opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="canton">Cantón:</label>
                                <select id="canton" name="canton" class="form-control" required>
                                    <!-- Agrega aquí las opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="distrito">Distrito:</label>
                                <select id="distrito" name="distrito" class="form-control" required>
                                    <!-- Agrega aquí las opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="direccion">Dirección Exacta:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" required>
                            </div>
                        </div>
                        <div class="form-section">
                            <h4>Teléfonos</h4>
                            <div class="form-group">
                                <label for="telefono1">Teléfono de contacto 1:</label>
                                <input type="text" class="form-control" id="telefono1" name="telefono1" required>
                            </div>
                            <div class="form-group">
                                <label for="telefono2">Teléfono de contacto 2:</label>
                                <input type="text" class="form-control" id="telefono2" name="telefono2">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EditarProveedor" tabindex="-1" aria-labelledby="EditarProveedorLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditarProveedorLabel">Editar Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Copiar el contenido del formulario aquí -->
                    <form method="post" action="{% url 'editar_proveedor' %}">
                        {% csrf_token %}
                        <input type="hidden" id="editarIdProveedor" name="id_proveedor">
                        
                        <div class="form-section">
                            <label for="editarNombreEmpresa" class="form-label"><strong>Nombre de la empresa</strong></label>
                            <input type="text" class="form-control" id="editarNombreEmpresa" name="nombre_empresa" required>
                        </div>
                        <div class="form-section">
                            <h4>Contacto</h4>
                            <div class="form-group">
                                <label for="editarTipoIdentificacion">Tipo identificación:</label>
                                <select id="editarTipoIdentificacion" name="tipo_identificacion" class="form-control" required>
                                    <option value="Cedula">Cédula Física</option>
                                    <option value="Cedula">Cédula Juridica</option>
                                    <option value="Cedula">Cédula Otros</option><!-- Otras opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editarIdentificacion">Identificación:</label>
                                <input type="text" class="form-control" id="editarIdentificacion" name="identificacion" required>
                            </div>
                            <div class="form-group">
                                <label for="editarNombre">Nombre:</label>
                                <input type="text" class="form-control" id="editarNombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="editarEmail">Email:</label>
                                <input type="email" class="form-control" id="editarEmail" name="email" required>
                            </div>
                        </div>
                        <div class="form-section">
                            <h4>Direcciones</h4>
                            <div class="form-group">
                                <label for="editarProvincia">Provincia:</label>
                                <select id="editarProvincia" name="provincia" class="form-control" required>
                                    <!-- Opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editarCanton">Cantón:</label>
                                <select id="editarCanton" name="canton" class="form-control" required>
                                    <!-- Opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editarDistrito">Distrito:</label>
                                <select id="editarDistrito" name="distrito" class="form-control" required>
                                    <!-- Opciones -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editarDireccion">Dirección Exacta:</label>
                                <input type="text" class="form-control" id="editarDireccion" name="direccion" required>
                            </div>
                        </div>
                        <div class="form-section">
                            <h4>Teléfonos</h4>
                            <div class="form-group">
                                <label for="editarTelefono1">Teléfono de contacto 1:</label>
                                <input type="text" class="form-control" id="editarTelefono1" name="telefono1" required>
                            </div>
                            <div class="form-group">
                                <label for="editarTelefono2">Teléfono de contacto 2:</label>
                                <input type="text" class="form-control" id="editarTelefono2" name="telefono2">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Incluir jQuery y DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
 

    <script>

        $('#EditarProveedor').on('show.bs.modal', function (event) {
            var button = event.relatedTarget; 
            var proveedorId = button.getAttribute('data-id');
            var proveedorNombreEmpresa = button.getAttribute('data-nombre_empresa');
            var proveedorNombre = button.getAttribute('data-nombre');
            var proveedorEmail = button.getAttribute('data-email');
            var proveedorProvincia = button.getAttribute('data-provincia');
            var proveedorCanton = button.getAttribute('data-canton');
            var proveedorDistrito = button.getAttribute('data-distrito');
            var proveedorDireccion = button.getAttribute('data-direccion');
            var proveedorTelefono1 = button.getAttribute('data-telefono1');
            var proveedorTelefono2 = button.getAttribute('data-telefono2');
            var proveedorTipoIdentificacion = button.getAttribute('data-tipo-identificacion');
            var proveedorIdentificacion = button.getAttribute('data-identificacion');
        
            var modal = $(this);
            modal.find('#editarIdProveedor').val(proveedorId);
            modal.find('#editarNombreEmpresa').val(proveedorNombreEmpresa);
            modal.find('#editarNombre').val(proveedorNombre);
            modal.find('#editarEmail').val(proveedorEmail);
            modal.find('#editarProvincia').val(proveedorProvincia);
            modal.find('#editarCanton').val(proveedorCanton);
            modal.find('#editarDistrito').val(proveedorDistrito);
            modal.find('#editarDireccion').val(proveedorDireccion);
            modal.find('#editarTelefono1').val(proveedorTelefono1);
            modal.find('#editarTelefono2').val(proveedorTelefono2);
            modal.find('#editarTipoIdentificacion').val(proveedorTipoIdentificacion);
            modal.find('#editarIdentificacion').val(proveedorIdentificacion);
        });

        $('#EliminarProveedor').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);  
            var proveedorId = button.data('id');  
            var proveedorNombre = button.data('username');  
            
            var modal = $(this);
            modal.find('#deleteUsername').text(proveedorNombre);  
            modal.find('#deleteId').val(proveedorId);  
        });

        $('#DetalleProveedor').on('show.bs.modal', function (event) {
            var button = event.relatedTarget; 
            var proveedorId = button.getAttribute('data-id'); 
            var proveedorNombre = button.getAttribute('data-nombre'); 
            var proveedorEmail = button.getAttribute('data-email');
            var proveedorProvincia = button.getAttribute('data-provincia');
            var proveedorCanton = button.getAttribute('data-canton');
            var proveedorDistrito = button.getAttribute('data-distrito');
            var proveedorDireccion = button.getAttribute('data-direccion');
            var proveedorTelefono1 = button.getAttribute('data-telefono1');
            var proveedorTelefono2 = button.getAttribute('data-telefono2');
            var proveedorTipoIdentificacion = button.getAttribute('data-tipo-identificacion');
            var proveedorIdentificacion = button.getAttribute('data-identificacion');
        
            var modal = $(this);
            modal.find('#detalleCodigoProveedor').text(proveedorId);
            modal.find('#detalleNombreEmpresa').text(proveedorNombre);
            modal.find('#detalleEmail').text(proveedorEmail);
            modal.find('#detalleProvincia').text(proveedorProvincia);
            modal.find('#detalleCanton').text(proveedorCanton);
            modal.find('#detalleDistrito').text(proveedorDistrito);
            modal.find('#detalleDireccionExacta').text(proveedorDireccion);
            modal.find('#detalleTelefono1').text(proveedorTelefono1);
            modal.find('#detalleTelefono2').text(proveedorTelefono2);
            modal.find('#detalleTipoIdentificacion').text(proveedorTipoIdentificacion);
            modal.find('#detalleIdentificacion').text(proveedorIdentificacion);
        });
        

        $(document).ready(function() {
            // Inicializar DataTable
            var table = $('#proveedoresTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthChange: false,
                pageLength: 5,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
                }
            });
    
            // Inicializar tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
    
            
        });

        document.addEventListener("DOMContentLoaded", function() {
            const costaRicaLocations = {
                // Datos de localidades de Costa Rica aquí
                "--Seleccione--":{},
                "San José": {
                    cantons: {
                        "San José": ["Carmen", "Merced", "Hospital", "Catedral", "Zapote", "San Francisco de Dos Ríos", "Uruca", "Mata Redonda", "Pavas", "Hatillo", "San Sebastián"],
                        "Escazú": ["Escazú", "San Antonio", "San Rafael"],
                        "Desamparados": ["Desamparados", "San Miguel", "San Juan de Dios", "San Rafael Arriba", "San Rafael Abajo", "San Antonio", "Frailes", "Patarrá", "San Cristóbal", "Rosario", "Damas", "San Rafael", "Gravilias"],
                        "Puriscal": ["Santiago", "Mercedes Sur", "Barbacoas", "Grifo Alto", "San Rafael", "Candelarita", "Desamparaditos", "San Antonio", "Chires"],
                        "Tarrazú": ["San Marcos", "San Lorenzo", "San Carlos"],
                        "Aserrí": ["Aserrí", "Tarbaca", "Vuelta de Jorco", "San Gabriel", "Legua", "Monterrey", "Salitrillos"],
                        "Mora": ["Ciudad Colón", "Guayabo", "Tabarcia", "Piedras Negras", "Picagres"],
                        "Goicoechea": ["Guadalupe", "San Francisco", "Calle Blancos", "Mata de Plátano", "Ipís", "Rancho Redondo", "Purral"],
                        "Santa Ana": ["Santa Ana", "Salitral", "Pozos", "Uruca", "Piedades", "Brasil"],
                        "Alajuelita": ["Alajuelita", "San Josecito", "San Antonio", "Concepción", "San Felipe"],
                        "Vásquez de Coronado": ["San Isidro", "San Rafael", "Dulce Nombre de Jesús", "Patalillo", "Cascajal"],
                        "Acosta": ["San Ignacio", "Guaitil", "Palmichal", "Cangrejal", "Sabanillas"],
                        "Tibás": ["San Juan", "Cinco Esquinas", "Anselmo Llorente", "León XIII", "Colima"],},},
                "Alajuela": {
                    cantons: {
                        "Alajuela": ["Alajuela", "San José", "Carrizal", "San Antonio", "Guácima", "San Isidro", "Sabanilla", "San Rafael"],
                        "San Ramón": ["San Ramón", "Santiago", "San Juan", "Piedades Norte", "Piedades Sur", "San Rafael", "San Isidro", "Ángeles", "Alfaro", "Volio", "Concepción", "Zapotal", "Peñas Blancas"],
                        "Grecia": ["Grecia", "San Isidro", "San José", "San Roque", "Tacares", "Río Cuarto", "Puente de Piedra", "Bolívar"],
                        "San Mateo": ["San Mateo", "Desmonte", "Jesús María"],
                        "Atenas": ["Atenas", "Jesús", "Mercedes", "San Isidro", "Concepción", "San José", "Santa Eulalia"],
                        "Naranjo": ["Naranjo", "San Miguel", "San José", "Cirrí Sur", "San Jerónimo"],
                        "Palmares": ["Palmares", "Zaragoza", "Buenos Aires", "Santiago", "Candelaria", "Esquipulas", "La Granja"],
                        "Poás": ["San Pedro", "San Juan", "San Rafael", "Carrillos", "Sabana Redonda"],
                        "Orotina": ["Orotina", "El Mastate", "Hacienda Vieja", "Coyolar", "La Ceiba"],
                        "San Carlos": ["Quesada", "Florencia", "Buenavista", "Aguas Zarcas", "Venecia", "Pital", "La Fortuna", "La Tigra", "La Palmera"],
                        "Zarcero": ["Zarcero", "Laguna", "Tapezco", "Guadalupe", "Palmira", "Zapote", "Brisas"],
                        "Valverde Vega": ["Sarchí Norte", "Sarchí Sur", "Toro Amarillo", "San Pedro", "Rodríguez"],
                        "Upala": ["Upala", "Aguas Claras", "San José (Pizote)", "Bijagua", "Delicias", "Dos Ríos"], },},        
                "Cartago": {
                    cantons: {
                        "Cartago": ["Oriental", "Occidental", "Carmen", "San Nicolás", "Agua Caliente", "Guadalupe", "Corralillo", "Tierra Blanca", "Dulce Nombre"],
                        "Paraíso": ["Paraíso", "Santiago", "Orosi", "Cachí", "Llanos de Santa Lucía"],
                        "La Unión": ["Tres Ríos", "San Diego", "San Juan", "San Rafael", "Concepción", "Dulce Nombre", "San Ramón", "Río Azul"],
                        "Jiménez": ["Juan Viñas", "Tucurrique", "Pejibaye"],
                        "Turrialba": ["Turrialba", "La Suiza", "Peralta", "Santa Cruz", "Santa Teresita", "Pavones", "Tuis", "Tayutic", "Santa Rosa", "Tres Equis"],
                        "Alvarado": ["Pacayas", "Cervantes", "Capellades"],
                        "Oreamuno": ["San Rafael", "Cot", "Potrero Cerrado", "Cipreses", "Santa Rosa"],
                        "El Guarco": ["El Tejar", "San Isidro", "Tobosi", "Patio de Agua"],},}, 
                "Heredia": {
                    cantons: {
                        "Heredia": ["Heredia", "Mercedes", "San Francisco", "Ulloa", "Vara Blanca"],
                        "Barva": ["Barva", "San Pedro", "San Pablo", "San Roque", "Santa Lucía", "San José de la Montaña"],
                        "Santo Domingo": ["Santo Domingo", "San Vicente", "San Miguel", "Paracito", "Santo Tomás", "Santa Rosa", "Tures"],
                        "Santa Bárbara": ["Santa Bárbara", "San Pedro", "San Juan", "Jesús", "Santo Domingo", "Purabá"],
                        "San Rafael": ["San Rafael", "San Josecito", "Santiago", "Ángeles", "Concepción"],
                        "San Isidro": ["San Isidro", "San José", "Concepción", "San Francisco"],},},    
                "Guanacaste": {
                    cantons: {
                        "Liberia": ["Liberia", "Cañas Dulces", "Mayorga", "Nacascolo", "Curubandé"],
                        "Nicoya": ["Nicoya", "Mansión", "San Antonio", "Quebrada Honda", "Sámara", "Nosara", "Belén de Nosarita"],
                        "Santa Cruz": ["Santa Cruz", "Bolsón", "Veintisiete de Abril", "Tempate", "Cartagena", "Cuajiniquil", "Diriá", "Cabo Velas", "Tamarindo"],
                        "Bagaces": ["Bagaces", "La Fortuna", "Mogote", "Río Naranjo"],
                        "Carrillo": ["Filadelfia", "Palmira", "Sardinal", "Belén"],
                        "Cañas": ["Cañas", "Palmira", "San Miguel", "Bebedero", "Porozal"],
                        "Abangares": ["Las Juntas", "Sierra", "San Juan", "Colorado"],
                        "Tilarán": ["Tilarán", "Quebrada Grande", "Tronadora", "Santa Rosa", "Líbano", "Tierras Morenas", "Arenal"],
                        "Nandayure": ["Carmona", "Santa Rita", "Zapotal", "San Pablo", "Porvenir", "Bejuco"],
                        "La Cruz": ["La Cruz", "Santa Cecilia", "La Garita", "Santa Elena"],
                        "Hojancha": ["Hojancha", "Monte Romo", "Puerto Carrillo", "Huacas", "Matambú"],},},     
                "Puntarenas": {
                    cantons: {
                        "Puntarenas": ["Puntarenas", "Pitahaya", "Chomes", "Lepanto", "Paquera", "Manzanillo", "Guacimal", "Barranca", "Monteverde", "Isla del Coco", "Cóbano"],
                        "Esparza": ["Espíritu Santo", "San Juan Grande", "Macacona", "San Rafael", "San Jerónimo"],
                        "Buenos Aires": ["Buenos Aires", "Volcán", "Potrero Grande", "Boruca", "Pilas", "Colinas", "Chánguena", "Biolley", "Brunka"],
                        "Montes de Oro": ["Miramar", "La Unión", "San Isidro"],
                        "Osa": ["Cortés", "Palmar", "Sierpe", "Bahía Ballena", "Piedras Blancas", "Bahía Drake"],
                        "Quepos": ["Quepos", "Savegre", "Naranjito"],
                        "Golfito": ["Golfito", "Puerto Jiménez", "Guaycará", "Pavón"],
                        "Coto Brus": ["San Vito", "Sabalito", "Aguabuena", "Limoncito", "Pittier"],
                        "Parrita": ["Parrita"],
                        "Corredores": ["Corredor", "La Cuesta", "Paso Canoas", "Laurel"],},},
                "Limón": {  
                    cantons: {
                        "Limón": ["Limón", "Valle La Estrella", "Río Blanco", "Matama"],
                        "Pococí": ["Guápiles", "Jiménez", "La Rita", "Roxana", "Cariari", "Colorado"],
                        "Siquirres": ["Siquirres", "Pacuarito", "Florida", "Germania", "Cairo", "Alegría"],
                        "Talamanca": ["Bratsi", "Sixaola", "Cahuita", "Telire"],
                        "Matina": ["Matina", "Batán", "Carrandi"],
                        "Guácimo": ["Guácimo", "Mercedes", "Pocora", "Río Jiménez", "Duacarí"],},},
            };

            const provinciaSelect = document.getElementById("provincia");
            const cantonSelect = document.getElementById("canton");
            const distritoSelect = document.getElementById("distrito");

            

            // Poblar provincias
            Object.keys(costaRicaLocations).forEach((provincia) => {
                const option = document.createElement("option");
                option.value = provincia;
                option.text = provincia;
                provinciaSelect.appendChild(option);
            });

            // Actualizar cantones y distritos según la provincia seleccionada
            provinciaSelect.addEventListener("change", () => {
                const selectedProvincia = provinciaSelect.value;
                cantonSelect.innerHTML = '<option value="">Seleccione un cantón</option>';
                distritoSelect.innerHTML = '<option value="">Seleccione un distrito</option>';

                if (selectedProvincia) {
                    const cantons = costaRicaLocations[selectedProvincia].cantons;
                    Object.keys(cantons).forEach((canton) => {
                        const option = document.createElement("option");
                        option.value = canton;
                        option.text = canton;
                        cantonSelect.appendChild(option);
                    });
                }
            });

            // Actualizar distritos según el cantón seleccionado
            cantonSelect.addEventListener("change", () => {
                const selectedProvincia = provinciaSelect.value;
                const selectedCanton = cantonSelect.value;
                distritoSelect.innerHTML = '<option value="">Seleccione un distrito</option>';

                if (selectedProvincia && selectedCanton) {
                    const distritos = costaRicaLocations[selectedProvincia].cantons[selectedCanton];
                    distritos.forEach((distrito) => {
                        const option = document.createElement("option");
                        option.value = distrito;
                        option.text = distrito;
                        distritoSelect.appendChild(option);
                    });
                }
            });
        });

    </script>

{% endblock %}