<!-- Proveedores/templates/proveedores/supplier_detail.html -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Proveedor</title>
</head>
<body>
    <h1>Detalle de Proveedor</h1>
    <p><strong>Codigo Proveedor:</strong> {{ proveedor.id_proveedor }}</p>
    <p><strong>Fecha que se ingreso al sistema:</strong> {{ proveedor.fecha_ingreso }}</p>
    <p><strong>Nombre de la Empresa:</strong> {{ proveedor.nombre_empresa }}</p>
    <p><strong>Tipo de identificacion:</strong> {{ proveedor.tipo_identificacion }}</p>
    <p><strong>Numero de Identificacion:</strong> {{ proveedor.identificacion }}</p>
    <p><strong>Nombre:</strong> {{ proveedor.nombre }}</p>
    <p><strong>Email:</strong> {{ proveedor.email }}</p>
    <p><strong>Provincia:</strong> {{ proveedor.provincia }}</p>
    <p><strong>Canton:</strong> {{ proveedor.canton }}</p>
    <p><strong>Distrito:</strong> {{ proveedor.distrito }}</p>
    <p><strong>Direccion exacta:</strong> {{ proveedor.direccion_exacta }}</p>
    <p><strong>Teléfono1:</strong> {{ proveedor.telefono1 }}</p>
    <p><strong>Teléfono2:</strong> {{ proveedor.telefono2 }}</p>
    <a href="{% url 'proveedor_edit' proveedor.pk %}">Editar</a> |
    <a href="{% url 'proveedor_delete' proveedor.pk %}">Eliminar</a>
    <br><br>
    <a href="{% url 'proveedor_list' %}">Volver al listado de proveedores</a>
</body>
</html>
