
{% extends 'base.html' %}
{% block content %}
    <title>Confirmar eliminación de Proveedor</title>
=
    <h1>Confirmar eliminación de Proveedor</h1>
    <p>¿Estás seguro de que deseas eliminar el proveedor " NOMBRE PROVEEDOR"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar eliminación</button>
    </form>
    <br><br>
    <a href="{% url 'proveedor_detail' %}">Cancelar y volver al detalle del proveedor</a> |
    <a href="{% url 'proveedor_list' %}">Volver al listado de proveedores</a>

{% endblock %}