{% extends 'base.html' %} 
{% block content %}
  <body>
    <div class="facturacion-caja-kike-container">
      <div class="facturacion-caja-kike-header">
        <h1>
          <i class="fa-solid fa-circle-dollar-to-slot facturacion-caja-kike-icon"></i
          >Facturación
        </h1>
        <div class="facturacion-caja-kike-fixed-icons">
          <button title="Descargar">
            <i class="fa fa-download"></i>
          </button>
          <button title="Imprimir">
            <i class="fa fa-print"></i>
          </button>
        </div>
        <div class="facturacion-caja-kike-search-box">
          <input type="text" placeholder="Buscar Factura..." />
          <button type="button" class="facturacion-caja-search-button">
            <i class="fas fa-search"></i>
          </button>

        </div>
      </div>
    </div>

    <table class="facturacion-caja-kike-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Numero Factura</th>
          <th>Cliente</th>
          <th>Codigo</th>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Precio Venta</th>
          <th>I.V.A</th>
          <th>Total</th>
          <th>Estado de La Factura</th>
          <th>Tipo de Pago</th>
          <th>Archivar</th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          {% for factura in facturas %}
            <tr>
              <td>{{ factura.fecha }}</td>
              <td>{{ factura.numero_factura }}</td>
              <td>{{ factura.cliente }}</td>
              <td>{{ factura.codigo }}</td>
              <td>{{ factura.descripcion }}</td>
              <td>{{ factura.cantidad }}</td>
              <td>₡{{ factura.precio_venta }}</td>
              <td>₡{{ factura.iva }}</td>
              <td>₡{{ factura.total }}</td>
              <td>{{ factura.estado_factura }}</td>
              <td>{{ factura.tipo_pago }}</td>
              <td><button class="facturacion-caja-kike-archive-button">Archivar</button></td>
            </tr>
          {% endfor %}
        </tbody>
        </tr>
        </tr>
      </tbody>
    </table>
  </body>
</html>

<script>
  // Agregar un evento de clic a todos los botones de archivar
  document.querySelectorAll(".facturacion-caja-kike-archive-button").forEach(function (button) {
    button.addEventListener("click", function () {
      // Encontrar la fila padre de este botón y ocultarla
      var row = button.closest("tr");
      row.style.display = "none";
    });
  });
</script>

{% endblock %}
