{% extends 'base.html' %} 
{% load static %} 
{% load custom_filters %} 
{% block content %}

<div class="container mt-5">
  <h1>Módulo de Transporte</h1>

  <!-- Notificación de Éxito -->
  <div id="success-alert" class="alert alert-success">
    <span class="icon">&#10004;</span> ¡Datos guardados con éxito!
  </div>

  <!-- Agregar Conductor -->
  <h2>Ingresar Nuevo Conductor</h2>
  <form id="form-conductor" method="post" action="">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="cedula" class="form-label">Cédula:</label>
        <input
          type="text"
          id="cedula"
          name="cedula"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-4">
        <label for="nombre" class="form-label">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-4">
        <label for="apellidos" class="form-label">Apellidos:</label>
        <input
          type="text"
          id="apellidos"
          name="apellidos"
          class="form-control"
          required
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Conductor</button>
  </form>

  <!-- Agregar Placa de Vehículo -->
  <h2>Ingresar Nueva Placa de Vehículo</h2>
  <form id="form-placa" method="post" action="">
    {% csrf_token %} {{ form_placa.as_p }}
    <button type="submit" class="btn btn-primary">Guardar Placa</button>
  </form>

  <!-- Asignar Ruta -->
  <h2>Asignar Nueva Ruta</h2>
  <form id="form-ruta" method="post" action="">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_conductor" class="form-label"
        >Seleccionar un Conductor</label
      >
      <select class="form-select" id="id_conductor" name="conductor" required>
        <option value="">Seleccione un conductor</option>
        {% for value, label in conductores %}
        <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <div class="mb-3">
      <label for="id_placa" class="form-label">Seleccionar una Placa</label>
      <select class="form-select" id="id_placa" name="placa" required>
        <option value="">Seleccione una placa</option>
        {% for value, label in placas %}
        <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <div class="mb-3">
      <label for="nombre_ruta" class="form-label">Nombre de la Ruta</label>
      <input
        type="text"
        id="nombre_ruta"
        name="nombre_ruta"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <div class="mb-3">
      <label for="numero_factura" class="form-label">Número de Factura</label>
      <input
        type="text"
        id="numero_factura"
        name="numero_factura"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <div class="mb-3">
      <label for="hora_salida" class="form-label">Hora de Salida</label>
      <input
        type="time"
        id="hora_salida"
        name="hora_salida"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <!-- Nueva sección para la ubicación de la ruta -->
    <div class="mb-3">
      <label for="provincia" class="form-label">Provincia</label>
      <select class="form-select" id="provincia" name="provincia" required>
        <option value="">Seleccione una provincia</option>
        <!-- Las opciones se cargarán dinámicamente -->
      </select>
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <div class="mb-3">
      <label for="canton" class="form-label">Cantón</label>
      <select class="form-select" id="canton" name="canton" required>
        <option value="">Seleccione un cantón</option>
        <!-- Las opciones se cargarán dinámicamente -->
      </select>
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <div class="mb-3">
      <label for="distrito" class="form-label">Distrito</label>
      <select class="form-select" id="distrito" name="distrito" required>
        <option value="">Seleccione un distrito</option>
        <!-- Las opciones se cargarán dinámicamente -->
      </select>
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección Exacta</label>
      <textarea
        id="direccion"
        name="direccion"
        class="form-control"
        rows="3"
        required
      ></textarea>
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Ruta</button>
  </form>

  <!-- WhatsApp Button -->
  <a
    href="https://wa.me/1234567890"
    class="whatsapp-button rounded-circle"
    target="_blank"
    title="Chatea con nosotros en WhatsApp"
  >
    <i class="fab fa-whatsapp"></i>
  </a>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <!-- Cuadro de Rutas del Día -->
  <div class="routes-summary">
    <h3>Rutas del Día - <span id="current-date"></span></h3>
    <table>
      <thead>
        <tr>
          <th>Ruta</th>
          <th>Placa</th>
          <th>Conductor</th>
          <th>Factura</th>
          <th>Hora de Salida</th>
          <th>Provincia</th>
          <th>Cantón</th>
          <th>Distrito</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="routes-table-body">
        <!-- Las rutas se añadirán aquí dinámicamente -->
      </tbody>
    </table>
    <button id="delete-all-routes" class="btn btn-delete-all">
      Eliminar Todas las Rutas del Día
    </button>
    <button id="print-routes" class="btn btn-print">Imprimir Rutas</button>
  </div>
</div>



<!-- Modal de Confirmación para Eliminar Ruta -->
<div
  class="modal fade"
  id="confirm-delete-route-modal"
  tabindex="-1"
  aria-labelledby="confirm-delete-route-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete-route-modal-label">
          Confirmación de Eliminación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar esta ruta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" id="confirm-delete-route" class="btn btn-danger">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Confirmación para Eliminar Todas las Rutas -->
<div
  class="modal fade"
  id="confirm-delete-all-routes-modal"
  tabindex="-1"
  aria-labelledby="confirm-delete-all-routes-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete-all-routes-modal-label">
          Confirmación de Eliminación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar todas las rutas del día?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          id="confirm-delete-all-routes"
          class="btn btn-danger"
        >
          Eliminar Todas
        </button>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/modulo_transporte.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
  crossorigin="anonymous"
></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const forms = ["form-conductor", "form-placa", "form-ruta"];
    forms.forEach((formId) => {
      const form = document.getElementById(formId);
      form.addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent form from submitting normally

        // Show success alert
        const successAlert = document.getElementById("success-alert");
        successAlert.style.display = "block";

        // Hide the success alert after 3 seconds
        setTimeout(() => {
          successAlert.style.display = "none";
        }, 3000);

        // Opcionalmente, reinicia los campos del formulario aquí
        this.reset();

        // Actualiza la tabla de rutas
        updateRoutesTable();
      });
    });

    // Add event listeners for form fields to handle validation feedback
    const fields = document.querySelectorAll(".form-control");
    fields.forEach((field) => {
      field.addEventListener("input", function () {
        if (this.checkValidity()) {
          this.classList.remove("is-invalid");
        } else {
          this.classList.add("is-invalid");
        }
      });

      field.addEventListener("blur", function () {
        if (this.checkValidity()) {
          this.classList.remove("is-invalid");
        }
      });
    });

    function updateRoutesTable() {
      // Datos de ejemplo, reemplazar con datos reales
      const routes = [
        {
          id: 1,
          nombre: "Ruta 1",
          placa: "ABC123",
          conductor: "Juan Pérez",
          factura: "001",
          hora: "08:00",
          Provincia: "San josé",
          Cantón: "San josé",
          Distrito: "San Sebastián",
          Dirección: "Paso Ancho",
        },
        {
          id: 2,
          nombre: "Ruta 2",
          placa: "XYZ789",
          conductor: "Ana Gómez",
          factura: "002",
          hora: "09:00",
          Provincia: "San josé",
          Cantón: "San josé",
          Distrito: "Catedral",
          Dirección: "Avenida 10",
        },
      ];

      const tableBody = document.getElementById("routes-table-body");
      tableBody.innerHTML = "";

      routes.forEach((route) => {
        const row = document.createElement("tr");
        row.innerHTML = `
                        <td>${route.nombre}</td>
                        <td>${route.placa}</td>
                        <td>${route.conductor}</td>
                        <td>${route.factura}</td>
                        <td>${route.hora}</td>
                        <td>${route.Provincia}</td>
                        <td>${route.Cantón}</td>
                        <td>${route.Distrito}</td>
                        <td>${route.Dirección}</td>
                        <td><button class="btn btn-delete" data-id="${route.id}" data-bs-toggle="modal" data-bs-target="#confirm-delete-route-modal">Eliminar</button></td>
                    `;
        tableBody.appendChild(row);
      });

      // Add delete event listener to the modal confirm button
      const confirmDeleteRouteButton = document.getElementById(
        "confirm-delete-route"
      );
      confirmDeleteRouteButton.addEventListener("click", function () {
        const routeId = this.getAttribute("data-id");
        if (confirm("¿Está seguro de que desea eliminar esta ruta?")) {
          // Aquí puedes agregar la lógica para eliminar la ruta del servidor
          console.log(`Ruta con ID ${routeId} eliminada`);
          updateRoutesTable(); // Actualiza la tabla después de eliminar
          const modal = bootstrap.Modal.getInstance(
            document.getElementById("confirm-delete-route-modal")
          );
          modal.hide();
        }
      });
    }

    document
      .getElementById("delete-all-routes")
      .addEventListener("click", function () {
        const modal = new bootstrap.Modal(
          document.getElementById("confirm-delete-all-routes-modal")
        );
        modal.show();
      });

    const confirmDeleteAllRoutesButton = document.getElementById(
      "confirm-delete-all-routes"
    );
    confirmDeleteAllRoutesButton.addEventListener("click", function () {
      if (
        confirm("¿Está seguro de que desea eliminar todas las rutas del día?")
      ) {
        // Aquí puedes agregar la lógica para eliminar todas las rutas del servidor
        console.log("Todas las rutas del día eliminadas");
        updateRoutesTable(); // Actualiza la tabla después de eliminar todas las rutas
        const modal = bootstrap.Modal.getInstance(
          document.getElementById("confirm-delete-all-routes-modal")
        );
        modal.hide();
      }
    });

    function updateCurrentDate() {
      const currentDate = new Date().toLocaleDateString("es-ES", {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
      });
      document.getElementById("current-date").textContent = currentDate;
    }

    updateCurrentDate(); // Inicializa la fecha actual
    setInterval(updateCurrentDate, 60000); // Actualiza la fecha cada minuto

    document
      .getElementById("print-routes")
      .addEventListener("click", function () {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        // Título del documento
        doc.setFontSize(16);
        doc.setFont("Helvetica", "bold");
        doc.text(
          "Rutas del Día - " +
            document.getElementById("current-date").textContent,
          10,
          20
        );

        const table = document.querySelector(".routes-summary table");
        const rows = table.querySelectorAll("tr");

        // Estilo de la tabla
        doc.setFontSize(12);
        let yPosition = 30; // Posición inicial en Y para las filas de la tabla

        rows.forEach((row, index) => {
          if (index > 0) {
            // Skip header row
            const cells = row.querySelectorAll("td");
            const data = Array.from(cells).map((cell) => cell.textContent);
            doc.text(data.join(" | "), 10, 20 + index * 10);
          }
        });

        doc.save("rutas_del_dia.pdf");
      });
  });
</script>

<script>
  // Función ver la provincia, canton y distrito
  document.addEventListener("DOMContentLoaded", function () {
    // Función para mostrar la fecha actual en el resumen de rutas
    const currentDate = new Date().toLocaleDateString();
    document.getElementById("current-date").innerText = currentDate;

    // Datos de ubicaciones de Costa Rica
    const costaRicaLocations = {
      "San José": {
                    cantons: {
                        "San José": ["Carmen", "Merced", "Hospital", "Catedral", "Zapote", "San Francisco de Dos Ríos", "Uruca", "Mata Redonda", "Pavas", "Hatillo", "San Sebastián"],
                        "Escazú": ["Escazú", "San Antonio", "San Rafael"],
                        "Desamparados": ["Desamparados", "San Miguel", "San Juan de Dios", "San Rafael Arriba", "San Rafael Abajo", "San Antonio", "Frailes", "Patarrá", "San Cristóbal", "Rosario", "Damas", "San Rafael", "Gravilias"],
                        "Puriscal": ["Santiago", "Mercedes Sur", "Barbacoas", "Grifo Alto", "San Rafael", "Candelarita", "Desamparaditos", "San Antonio", "Chires"],
                        "Tarrazú": ["San Marcos", "San Lorenzo", "San Carlos"],
                        "Aserrí": ["Aserrí", "Tarbaca", "Vuelta de Jorco", "San Gabriel", "Legua", "Monterrey", "Salitrillos"],
                        "Mora": ["Ciudad Colón", "Guayabo", "Tabarcia", "Piedras Negras", "Picagres"],
                        "Goicoechea": ["Guadalupe", "San Francisco", "Calle Blancos", "Mata de Plátano", "Ipís", "Rancho Redondo", "Purral"],
                        "Santa Ana": ["Santa Ana", "Salitral", "Pozos", "Uruca", "Piedades", "Brasil"],
                        "Alajuelita": ["Alajuelita", "San Josecito", "San Antonio", "Concepción", "San Felipe"],
                        "Vásquez de Coronado": ["San Isidro", "San Rafael", "Dulce Nombre de Jesús", "Patalillo", "Cascajal"],
                        "Acosta": ["San Ignacio", "Guaitil", "Palmichal", "Cangrejal", "Sabanillas"],
                        "Tibás": ["San Juan", "Cinco Esquinas", "Anselmo Llorente", "León XIII", "Colima"],},},
                "Alajuela": {
                    cantons: {
                        "Alajuela": ["Alajuela", "San José", "Carrizal", "San Antonio", "Guácima", "San Isidro", "Sabanilla", "San Rafael"],
                        "San Ramón": ["San Ramón", "Santiago", "San Juan", "Piedades Norte", "Piedades Sur", "San Rafael", "San Isidro", "Ángeles", "Alfaro", "Volio", "Concepción", "Zapotal", "Peñas Blancas"],
                        "Grecia": ["Grecia", "San Isidro", "San José", "San Roque", "Tacares", "Río Cuarto", "Puente de Piedra", "Bolívar"],
                        "San Mateo": ["San Mateo", "Desmonte", "Jesús María"],
                        "Atenas": ["Atenas", "Jesús", "Mercedes", "San Isidro", "Concepción", "San José", "Santa Eulalia"],
                        "Naranjo": ["Naranjo", "San Miguel", "San José", "Cirrí Sur", "San Jerónimo"],
                        "Palmares": ["Palmares", "Zaragoza", "Buenos Aires", "Santiago", "Candelaria", "Esquipulas", "La Granja"],
                        "Poás": ["San Pedro", "San Juan", "San Rafael", "Carrillos", "Sabana Redonda"],
                        "Orotina": ["Orotina", "El Mastate", "Hacienda Vieja", "Coyolar", "La Ceiba"],
                        "San Carlos": ["Quesada", "Florencia", "Buenavista", "Aguas Zarcas", "Venecia", "Pital", "La Fortuna", "La Tigra", "La Palmera"],
                        "Zarcero": ["Zarcero", "Laguna", "Tapezco", "Guadalupe", "Palmira", "Zapote", "Brisas"],
                        "Valverde Vega": ["Sarchí Norte", "Sarchí Sur", "Toro Amarillo", "San Pedro", "Rodríguez"],
                        "Upala": ["Upala", "Aguas Claras", "San José (Pizote)", "Bijagua", "Delicias", "Dos Ríos"], },},        
                "Cartago": {
                    cantons: {
                        "Cartago": ["Oriental", "Occidental", "Carmen", "San Nicolás", "Agua Caliente", "Guadalupe", "Corralillo", "Tierra Blanca", "Dulce Nombre"],
                        "Paraíso": ["Paraíso", "Santiago", "Orosi", "Cachí", "Llanos de Santa Lucía"],
                        "La Unión": ["Tres Ríos", "San Diego", "San Juan", "San Rafael", "Concepción", "Dulce Nombre", "San Ramón", "Río Azul"],
                        "Jiménez": ["Juan Viñas", "Tucurrique", "Pejibaye"],
                        "Turrialba": ["Turrialba", "La Suiza", "Peralta", "Santa Cruz", "Santa Teresita", "Pavones", "Tuis", "Tayutic", "Santa Rosa", "Tres Equis"],
                        "Alvarado": ["Pacayas", "Cervantes", "Capellades"],
                        "Oreamuno": ["San Rafael", "Cot", "Potrero Cerrado", "Cipreses", "Santa Rosa"],
                        "El Guarco": ["El Tejar", "San Isidro", "Tobosi", "Patio de Agua"],},}, 
                "Heredia": {
                    cantons: {
                        "Heredia": ["Heredia", "Mercedes", "San Francisco", "Ulloa", "Vara Blanca"],
                        "Barva": ["Barva", "San Pedro", "San Pablo", "San Roque", "Santa Lucía", "San José de la Montaña"],
                        "Santo Domingo": ["Santo Domingo", "San Vicente", "San Miguel", "Paracito", "Santo Tomás", "Santa Rosa", "Tures"],
                        "Santa Bárbara": ["Santa Bárbara", "San Pedro", "San Juan", "Jesús", "Santo Domingo", "Purabá"],
                        "San Rafael": ["San Rafael", "San Josecito", "Santiago", "Ángeles", "Concepción"],
                        "San Isidro": ["San Isidro", "San José", "Concepción", "San Francisco"],},},    
                "Guanacaste": {
                    cantons: {
                        "Liberia": ["Liberia", "Cañas Dulces", "Mayorga", "Nacascolo", "Curubandé"],
                        "Nicoya": ["Nicoya", "Mansión", "San Antonio", "Quebrada Honda", "Sámara", "Nosara", "Belén de Nosarita"],
                        "Santa Cruz": ["Santa Cruz", "Bolsón", "Veintisiete de Abril", "Tempate", "Cartagena", "Cuajiniquil", "Diriá", "Cabo Velas", "Tamarindo"],
                        "Bagaces": ["Bagaces", "La Fortuna", "Mogote", "Río Naranjo"],
                        "Carrillo": ["Filadelfia", "Palmira", "Sardinal", "Belén"],
                        "Cañas": ["Cañas", "Palmira", "San Miguel", "Bebedero", "Porozal"],
                        "Abangares": ["Las Juntas", "Sierra", "San Juan", "Colorado"],
                        "Tilarán": ["Tilarán", "Quebrada Grande", "Tronadora", "Santa Rosa", "Líbano", "Tierras Morenas", "Arenal"],
                        "Nandayure": ["Carmona", "Santa Rita", "Zapotal", "San Pablo", "Porvenir", "Bejuco"],
                        "La Cruz": ["La Cruz", "Santa Cecilia", "La Garita", "Santa Elena"],
                        "Hojancha": ["Hojancha", "Monte Romo", "Puerto Carrillo", "Huacas", "Matambú"],},},     
                "Puntarenas": {
                    cantons: {
                        "Puntarenas": ["Puntarenas", "Pitahaya", "Chomes", "Lepanto", "Paquera", "Manzanillo", "Guacimal", "Barranca", "Monteverde", "Isla del Coco", "Cóbano"],
                        "Esparza": ["Espíritu Santo", "San Juan Grande", "Macacona", "San Rafael", "San Jerónimo"],
                        "Buenos Aires": ["Buenos Aires", "Volcán", "Potrero Grande", "Boruca", "Pilas", "Colinas", "Chánguena", "Biolley", "Brunka"],
                        "Montes de Oro": ["Miramar", "La Unión", "San Isidro"],
                        "Osa": ["Cortés", "Palmar", "Sierpe", "Bahía Ballena", "Piedras Blancas", "Bahía Drake"],
                        "Quepos": ["Quepos", "Savegre", "Naranjito"],
                        "Golfito": ["Golfito", "Puerto Jiménez", "Guaycará", "Pavón"],
                        "Coto Brus": ["San Vito", "Sabalito", "Aguabuena", "Limoncito", "Pittier"],
                        "Parrita": ["Parrita"],
                        "Corredores": ["Corredor", "La Cuesta", "Paso Canoas", "Laurel"],},},
                "Limón": {  
                    cantons: {
                        "Limón": ["Limón", "Valle La Estrella", "Río Blanco", "Matama"],
                        "Pococí": ["Guápiles", "Jiménez", "La Rita", "Roxana", "Cariari", "Colorado"],
                        "Siquirres": ["Siquirres", "Pacuarito", "Florida", "Germania", "Cairo", "Alegría"],
                        "Talamanca": ["Bratsi", "Sixaola", "Cahuita", "Telire"],
                        "Matina": ["Matina", "Batán", "Carrandi"],
                        "Guácimo": ["Guácimo", "Mercedes", "Pocora", "Río Jiménez", "Duacarí"],},},
            };

    const provinciaSelect = document.getElementById("provincia");
    const cantonSelect = document.getElementById("canton");
    const distritoSelect = document.getElementById("distrito");

    // Poblar provincias
    Object.keys(costaRicaLocations).forEach((provincia) => {
      const option = document.createElement("option");
      option.value = provincia;
      option.text = provincia;
      provinciaSelect.appendChild(option);
    });

    // Actualizar cantones y distritos según la provincia seleccionada
    provinciaSelect.addEventListener("change", () => {
      const selectedProvincia = provinciaSelect.value;
      cantonSelect.innerHTML = '<option value="">Seleccione un cantón</option>';
      distritoSelect.innerHTML =
        '<option value="">Seleccione un distrito</option>';

      if (selectedProvincia) {
        const cantones = costaRicaLocations[selectedProvincia].cantons;
        Object.keys(cantones).forEach((canton) => {
          const option = document.createElement("option");
          option.value = canton;
          option.text = canton;
          cantonSelect.appendChild(option);
        });
      }
    });

    // Actualizar distritos según el cantón seleccionado
    cantonSelect.addEventListener("change", () => {
      const selectedProvincia = provinciaSelect.value;
      const selectedCanton = cantonSelect.value;
      distritoSelect.innerHTML =
        '<option value="">Seleccione un distrito</option>';

      if (selectedProvincia && selectedCanton) {
        const distritos =
          costaRicaLocations[selectedProvincia].cantons[selectedCanton];
        distritos.forEach((distrito) => {
          const option = document.createElement("option");
          option.value = distrito;
          option.text = distrito;
          distritoSelect.appendChild(option);
        });
      }
    });
  });
</script>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>

{% endblock %}
